---
layout: default
---

{% assign rawcats = "" %}
{% for post in site.posts %}
  {% assign tcats = post.category | join:'|' | append:'|' %}
  {% assign rawcats = rawcats | append:tcats %}
{% endfor %}

{% assign rawcats = rawcats | split:'|' | sort %}
{% assign cats = "" %}
{% for cat in rawcats %}
  {% if cat != "" %}
  {% if cats == "" %}
    {% assign cats = cat | split:'|' %}
  {% endif %}
  {% unless cats contains cat %}
    {% assign cats = cats | join:'|' | append:'|' | append:cat | split:'|' %}
  {% endunless %}
  {% endif %}
{% endfor %}

<div class="row wrapper wrapper-content blog">
  <div class="col-md-offset-2 col-md-8">
    <div class="list-group">
        {% assign date_format = "%Y-%m-%d %H:%M:%S" %}
        {% for ct in cats %}
            <li class="list-group-item-info" id="{{ ct | slugify }}" ><h4><i class="fa fa-bars"></i> {{ ct }}</h4></li>
            {% for post in site.posts %}
              {% if post.client == None %}
                {% if post.category contains ct %}
                <div class="small ibox-content">
                  <a href="{{ post.url | relative_url }}" class="list-group-item align-items-start">
                  <h4>{{ post.title | escape }}</h4>
                  <p>
                    <h5 class="text-muted">{{ post.content | strip_html | truncate:100 }}</h5>
                  </p>
                  </a>
                  <div class="text-muted ">
                    {% if site.disqus %}
                      <i class="fa fa-comments-o"> </i> <span data-disqus-url="{{ site.url }}{{ post.url }}">0</span>
                      <span style="white-space:pre" >comments   </span>
                    {% endif %}
                    <span style="white-space:pre"><i class="fa fa-user"></i> <strong>{{ site.author.name }}   </strong></span>
                    <span style="white-space:pre"><i class="fa fa-clock-o"></i> {{ post.date | date: "%-d %b %Y" }}</span>
                  </div>

                  <!-- <p>
                    {{ post.content | strip_html | truncate:100 }}
                  </p> -->

                  <!-- <div class="row">
                    <div class="col-md-6">
                        <h5 style="display: inline;">Tags:</h5>
                        {% for tag in post.tags %}
                            <button class="btn btn-xs">{{ tag }}</button>
                        {% endfor %}
                    </div>
                  </div> -->
                </div>
                {% endif %}
              {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
  </div>
  <div class="col-md-3">
  </div>
</div>